body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    color: #333;
    text-align: center;
    padding: 50px 20px;
}

h1 {
    color: #3498db;
    font-size: 36px;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

#app {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#walletInfo {
    margin-top: 20px;
}

#balance, #usdBalance {
    font-size: 20px;
    font-weight: bold;
    color: #27ae60;
}

#error {
    color: red;
    font-size: 18px;
    margin-top: 20px;
}
